.deps
autom4te.cache
bin
config.guess
config.log
config.sub
depcomp
install-sh
ltmain.sh
missing
obj
config.status
Makefile.in
*.o
*.a
confdefs.h
conftest.cpp
conftest.err
*~
Makefile
Makefile.in
config.h
config.h.in
rgadtrackerd
libs/libredis/lib/
yottos0829.xml
yottos_rem.xml
yottos_rem.xml.1
yottos_rem.xml.old
rgadtrackerd.depend
